<div>
  <h1>Places you can place hair on Wooly Billy:</h1>

  <% @areas.each do |area| %>
    <div>
      <h2><%= area.title %></h2>
      <span><%= area.desc %></span>
    </div>
  <% end %>

</div>

<div>
  <p>Head Hairs</p>
  <% @headHairs.each do |h| %>
  <div><span class="hide">Hair #<%= h.id %></span><%= h.x %><%= h.y %><%= h.rotate %></span></div>
  <% end %>
</div>

<div>
  <p>Brow Hairs</p>
  <% @browHairs.each do |h| %>
  <div>
    <small>Hair #<%= h.id %></small>
    <span><%= h.x %></span>
    <span><%= h.y %></span>
    <span><%= h.rotate %></span>
  </div>
  <% end %>
</div>

<div>
  <p>Face Hairs</p>
  <% @faceHairs.each do |h| %>
  <div>
    <small>Hair #<%= h.id %></small>
    <span><%= h.x %></span>
    <span><%= h.y %></span>
    <span><%= h.rotate %></span>
  </div>
  <% end %>
</div>

<!-- Delete Hairs Button -->
<h4><b>CREATE A Hair</b></h4>
<%= link_to 'Shave Billy', hair_destroyer_path, method: :delete, data: {confirm: 'Are you crazy? Billy looks amazing!'} %>

<!-- New Head Hairs Form -->
<h4><b>CREATE A Hair</b></h4>
<%= form_for [@head, @hair], url: area_hairs_path do |f| %>
<div>
  x-coordinate:
  <br>
  <div>
    <%= f.text_field :x, class: "form-control", :input_html => {:value => "2"} %>
  </div>
</div>
<div>
  y-coordinate:
  <br>
  <%= f.text_field :y, class: "form-control" %>
</div>
<div>
  Rotate Hair:
  <br>
  <%= f.text_field :rotate, class: "form-control" %>
</div>
<div>
  <br>
  <%= f.submit "Grow Hair" %>
  <br><br>
</div>
<% end %>

<!-- New Brow Hairs Form -->
<h4><b>CREATE A Hair</b></h4>
<%= form_for [@brow, @hair], url: area_hairs_path do |f| %>
<div>
  x-coordinate:
  <br>
  <div>
    <%= f.text_field :x, class: "form-control" %>
  </div>
</div>
<div>
  y-coordinate:
  <br>
  <%= f.text_field :y, class: "form-control" %>
</div>
<div>
  Rotate Hair:
  <br>
  <%= f.text_field :rotate, class: "form-control" %>
</div>
<div>
  <br>
  <%= f.submit "Grow Hair" %>
  <br><br>
</div>
<% end %>

<!-- New Face Hairs Form -->
<h4><b>CREATE A Hair</b></h4>
<%= form_for [@face, @hair], url: area_hairs_path do |f| %>
<div>
  x-coordinate:
  <br>
  <div>
    <%= f.text_field :x, class: "form-control" %>
  </div>
</div>
<div>
  y-coordinate:
  <br>
  <%= f.text_field :y, class: "form-control" %>
</div>
<div>
  Rotate Hair:
  <br>
  <%= f.text_field :rotate, class: "form-control" %>
</div>
<div>
  <br>
  <%= f.submit "Grow Hair" %>
  <br><br>
</div>
<% end %>
