<div>
  <h1>Wooly Billy</h1>
  <h2>Places you can place hair on Wooly Billy:</h2>

  <% @areas.each do |area| %>
    <div>
      <h3><%= area.title %></h3>
      <span> - <%= area.desc %></span>
    </div>
  <% end %>

</div>

<!-- Head Hairs -->
<div>
  <p>head hairs</p>
  <% @headHairs.each do |h| %>
  <div><%= h.area %><span class="">Hair #<%= h.id %></span><%= h.x %><%= h.y %><%= h.rotate %></span></div>
  <% end %>
</div>

<!-- Brow Hairs -->
<div>
  <p>brow hairs</p>
  <% @browHairs.each do |h| %>
  <div>
    <small>Hair #<%= h.id %></small>
    <span><%= h.x %></span>
    <span><%= h.y %></span>
    <span><%= h.rotate %></span>
  </div>
  <% end %>
</div>

<!-- Face Hairs -->
<div>
  <p>face hairs</p>
  <% @faceHairs.each do |h| %>
  <div>
    <small>Hair #<%= h.id %></small>
    <span><%= h.x %></span>
    <span><%= h.y %></span>
    <span><%= h.rotate %></span>
  </div>
  <% end %>
</div>

<!-- Delete Hairs Button -->
<h4><b>CREATE A Hair</b></h4>
<%= link_to 'Shave Billy', hair_destroyer_path, method: :delete, data: {confirm: 'Are you crazy? Billy looks amazing!'} %>

<!-- New Head Hairs Form -->
<h4><b>CREATE A Hair</b></h4>
<%= form_for @hair, url: area_hairs_path(:title, "Head") do |f| %>
<div>
  x-coordinate:
  <br>
  <div>
    <%= f.text_field :x, class: "form-control" %>
  </div>
</div>
<div>
  y-coordinate:
  <br>
  <%= f.text_field :y, class: "form-control" %>
</div>
<div>
  Rotate Hair:
  <br>
  <%= f.text_field :rotate, class: "form-control" %>
</div>
<div>
  Head, Brow or Face?
  <br>
  <%= f.select :area, options_for_select([['Head', "Head"], ['Brow', "Brow"], ['Face', "Face"]]) %>

</div>
<div>
  <br>
  <%= f.submit "Grow Hair" %>
  <br><br>
</div>
<!-- end of New Head Hairs Form -->
<% end %>
