<div>
  <h1>Places you can place hair on Wooly Billy:</h1>

  <% @areas.each do |area| %>
    <div>
      <h2><%= area.title %></h2>
      <span><%= area.desc %></span>
    </div>
  <% end %>

</div>

<div>
  <div>
    <h2>Hair #<%= @hairs.id %></h2>
    <span><%= @hairs.x %></span>
    <span><%= @hairs.y %></span>
    <span><%= @hairs.rotate %></span>
  </div>
</div>
